@import "../../styles/settings";

.section-gold {
	display: grid;
	align-items: center;
	grid-auto-flow: row dense;
	border-bottom: 2px solid $black;

	@include media-breakpoint-up(md) {
		grid-template-columns: 2fr 3fr;
	}

	.section-content {
		padding: 30px;

		@include media-breakpoint-up(md) {
			padding: 90px;
			padding-right: calc( (100vw - #{$container-max-width}) / 2 + 90px );
			grid-column: 2;

			.section-gold-text {
				grid-column: 2;
			}
		}
	}

	.section-image {
		grid-column: 1;
		width: 100%;
		height: 300px;
		object-fit: cover;
		object-position: center;

		@include media-breakpoint-up(md) {
			height: 420px;
		}
	}
}
