@import "../../styles/settings";

.partners {
	text-align: center;
	margin-left: auto;

	@include media-breakpoint-down(sm) {
		grid-row: 2;
		grid-column: 1 / -1;
		margin: initial;
	}

	.partner-logos {
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: max-content;
		grid-gap: 15px;
		align-items: center;
		justify-content: center;
	}

	p {
		color: inherit;
		font-size: .6rem;
		font-weight: 700;
		letter-spacing: .1em;
		text-transform: uppercase;
		margin-bottom: 1em;

		&:after {
			content: '';
			display: block;
			border-bottom: 1px solid currentColor;
			width: 50px;
			margin: .2em auto;
		}
	}

	img {
		height: 35px;
		max-width: 110px;
		object-fit: contain;
		object-position: center;
	}
}
