About the project

MERCURY is a production of InfoAmazonia, a network of journalists who investigate the main environmental issues in the nine countries of the Amazon. The investigation was conducted in four countries during one year. The work was done in partnership with journalists from Armando Info in Venezuela and Fantástico (TV Globo) in Brazil.  Along with this special platform, we are launching a documentary directed by Tom Laffay

The entire production was supported by the Rainforest Journalism Fund of the Pulitzer Center and IUCN (World Conservation Union) The Netherlands.

Versions of the stories were also published in Knack (Belgium), Stabroek News (Guyana), De Ware Tijd and UnitedNews.sr (Suriname), besides the stories by our partners in Brazil (Link) and Venezuela (Link)

<h3>Project s team</h3>
<h4>Lead investigator</h4>
<ul>
	<li>Bram Ebus</li>
</ul>

<h4>Reporters</h4>
<ul>
	<li>Fabiano Villela (Brazil)</li>
	<li>G. I. Sutherland (Guyana)</li>
	<li>Fábio Diniz (Fantástico)</li>
	<li>Marcelo Marques (Brazil)</li>
	<li>Marcos David Valverde (Venezuela)</li>
	<li>Sam Cowie (Brazil)</li>
	<li>Wilfred Leeuwin (Suriname)</li>
	<li>Tom Laffay (United States)</li>
</ul>

<h4>Project coordinator</h4>
<ul>
	<li>Gustavo Faleiros (InfoAmazonia)</li>
</ul>

<h4>Editor in chief</h4>
<ul>
	<li>Kate Wheeling</li>
</ul>

<h4>Editors</h4>
<ul>
	<li>Ewald Scharfenberg (Armando Info)</li>
	<li>Cristine Kist (Fantástisco)</li>
	<li>Fillipi Nahar (Fantástico)</li>
	<li>PRODUCERS</li>
	<li>James Alberti (Fantástico)</li>
	<li>Mônica Reolom (Fantástico)</li>
</ul>

<h4>Website development</h4>
<ul>
	<li><a href="">Datadot</a></li>
	<li><a href="">Haste</a></li>
</ul>

<h4>Translations</h4>
<ul>
	<li>Angelica Baldelomar (English)</li>
	<li>Jerusa Rodrigues (Portuguese)</li>
	<li>Patricia Marcano (Spanish)</li>
</ul>

<h4>Social media</h4>
<ul>
	<li>Laura Clisánchez</li>
</ul>


<h3>Documentary team</h3>

<h4>Direction and cinematography</h4>
Tom Laffay

Lead investigator
Bram Ebus
PRODUCER
Gustavo Faleiros

Editor
 J.C. Van´t Kruis

Investigator
Tom Laffay
Gaulbert Sutherland
Wilfred Leeuwin

Narrator
Abel Harris

Motion design
Sérgio Castro

Sound design
J.C. Van´t Kruis

Creative consultant
Emily Wright

Second editor
Tom Laffay

In partnership
WITH

Supported by
The Rainforest Journalism Fund @


==========
=============
=-----------


About the project

MERCURY is a production of InfoAmazonia, a network of journalists who investigate the main environmental issues in the nine countries of the Amazon. The investigation was conducted in four countries during one year. The work was done in partnership with journalists from Armando Info in Venezuela and Fantástico (TV Globo) in Brazil.  Along with this special platform, we are launching a documentary directed by Tom Laffay

The entire production was supported by the Rainforest Journalism Fund of the Pulitzer Center and IUCN (World Conservation Union) The Netherlands.

Versions of the stories were also published in Knack (Belgium), Stabroek News (Guyana), De Ware Tijd and UnitedNews.sr (Suriname), besides the stories by our partners in Brazil (Link) and Venezuela (Link)

<h3>Project's team</h3>
<h4>Lead investigator</h4>
<ul>
	<li>Bram Ebus</li>
</ul>

<h4>Reporters</h4>
<ul>
	<li>Fabiano Villela (Brazil)</li>
	<li>G. I. Sutherland (Guyana)</li>
	<li>Fábio Diniz (Fantástico)</li>
	<li>Marcelo Marques (Brazil)</li>
	<li>Marcos David Valverde (Venezuela)</li>
	<li>Sam Cowie (Brazil)</li>
	<li>Wilfred Leeuwin (Suriname)</li>
	<li>Tom Laffay (United States)</li>
</ul>

<h4>Project coordinator</h4>
<ul>
	<li>Gustavo Faleiros (InfoAmazonia)</li>
</ul>

<h4>Editor in chief</h4>
<ul>
	<li>Kate Wheeling</li>
</ul>

<h4>Editors</h4>
<ul>
	<li>Ewald Scharfenberg (Armando Info)</li>
	<li>Cristine Kist (Fantástisco)</li>
	<li>Fillipi Nahar (Fantástico)</li>
</ul>

<h4>Producers</h4>
<ul>
	<li>James Alberti (Fantástico)</li>
	<li>Mônica Reolom (Fantástico)</li>
</ul>

<h4>Website development</h4>
<ul>
	<li><a href="">Datadot</a></li>
	<li><a href="">Haste</a></li>
</ul>

<h4>Translations</h4>
<ul>
	<li>Angelica Baldelomar (English)</li>
	<li>Jerusa Rodrigues (Portuguese)</li>
	<li>Patricia Marcano (Spanish)</li>
</ul>

<h4>Social media</h4>
<ul>
	<li>Laura Clisánchez</li>
</ul>


<h3>Documentary team</h3>

<h4>Direction and cinematography</h4>
<ul>
	<li>Tom Laffay</li>
</ul>

<h4>Lead investigator</h4>
<ul>
	<li>Bram Ebus</li>
<ul>

<h4>Producer</h4>
</ul>
	<li>Gustavo Faleiros</li>
</ul>

<h4>Editor</h4>
<ul>
	<li>J.C. Van´t Kruis</li>
</ul>

<h4>Investigator</h4>
<ul>
	<li>Tom Laffay</li>
	<li>Gaulbert Sutherland</li>
	<li>Wilfred Leeuwin</li>
</ul>

<h4>Narrator</h4>
<ul>
	<li>Abel Harris</li>
</ul>

<h4>Motion design</h4>
<ul>
	<li>Sérgio Castro</li>
</ul>

<h4>Sound design</h4>
<ul>
	<li>J.C. Van´t Kruis</li>
</ul>

<h4>Creative consultant</h4>
<ul>
	<li>Emily Wright</li>
</ul>

<h4>Second editor</h4>
<ul>
	<li>Tom Laffay</li>
</ul>

<h4>In partnership with</h4>

<h4>Supported by</h4>
The Rainforest Journalism Fund @
